{{ define "main" }}
{{- $readMore := (T "readMore") | default "Read more" -}}
  <div class='mx-auto flex items-center {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        <br class="mt-1.5 text-sm" />
        <div class="content">{{ .Content }}</div>
        {{ range .Pages.ByDate }}
          <div class="mb-4 text-center">
            <h3><a style="color: inherit; text-decoration: none;" class="block mt-0 text-2xl opacity-80" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          </div>
        {{ end }}
      </main>
    </article>
    <div class="max-xl:hidden h-0 w-64 shrink-0"></div>
  </div>
{{ end }}