.overlay {
    position: fixed;
    width: 98%;
    height: 100%;
    display: flex;
    padding: 5% 2%;
    flex-direction: column;
    justify-content: space-between;
    scale: 1;
    mix-blend-mode: exclusion;
    pointer-events: none;
    transition: scale 1s;
    z-index: 10;
}

.overlay a {
    color: #fff;
}

.overlay .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.overlay .top img {
    height: 32px;
    width: 32px;
}

.overlay .bottom {
    display: flex;
    justify-content: space-between;
}

.overlay .bottom a {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

body {
    margin-bottom: 250px;
    overflow-x: hidden;
    box-sizing: border-box;
}

main {
    transition: transform 0.5s ease;
}

a, button {
    pointer-events: visible;
    cursor: pointer;
    display: inline-block;
}

a:hover {
    transform: scale(1.1);
}

a:active {
    transform: scale(0.8);
}

footer {
    color: #fff;
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.menu-left {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    visibility: hidden;
    transition: width 0.5s ease, visibility 0s 0.5s;
}

.menu-left-container {
    height: 100%;
    width: 0;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    transition: width 0.5s ease;
    overflow: hidden;
}

.menu-left-container a {
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffffd7;
}

.menu-left-container a:hover {
    color: #fff;
}

body.menu-left-open .menu-left-container {
    visibility: visible;
    width: 42px;
}

body.menu-left-open main {
    transform: translateX(42px);
    overflow: hidden;
}

.menu-right {
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    display: flex;
    overflow: hidden;
    z-index: 999;
    visibility: hidden;
    transition: width 0.5s ease, visibility 0s 0.5s;
}

.menu-right-container {
    height: 100%;
    width: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
    overflow: hidden;
}

.menu-right-container a {
    text-decoration: none;
    color: #ffffffd7;
}

.menu-right-container a:hover {
    color: #fff;
}

body.menu-right-open .menu-right-container {
    visibility: visible;
    width: 256px;
}

body.menu-right-open main {
    transform: translateX(-256px);
    overflow: hidden;
}

.theme-button {
    opacity: 0.4;
    transition: opacity 0.5s;
    pointer-events: fill;
    background-color: transparent;
    color: #fff;
}

.theme-button.active {
    opacity: 1;
}

.text-card {
    display: flex;
    flex-grow: 1;
    gap: 0;
    padding: 0;
}

.text-card h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    clear: left;
}

.card::before, .card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
    pointer-events: none;
}

* {
    box-sizing: border-box;
}