<!-- {{- $footerWidth := "max-w-screen-xl" -}}
{{- with .Site.Params.footer.width -}}
  {{ if eq . "wide" -}}
    {{ $footerWidth = "max-w-[90rem]" -}}
  {{ else if eq . "full" -}}
    {{ $footerWidth = "max-w-full" -}}
  {{ end -}}
{{- end -}}


<footer class="hextra-footer bg-gray-100 pb-[env(safe-area-inset-bottom)] dark:bg-neutral-900 print:bg-transparent">
  <div class="mx-auto flex items-center gap-2 py-2 px-4 {{ $footerWidth }}">
    {{- partial "language-switch.html" (dict "context" .) -}}
    {{ partial "theme-toggle.html" }}
  </div>
</footer>
-->